<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour itinerary information</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header class="tour-header">
        <h1 class="tour-name txt-center">Tour itinerary information</h1>
        <div class="row">
          <h3>{{ tour['title'] }}</h3>
          <div class="rating">
            {% for i in range(tour['ratingAverage']|int) %}
              <i class="fas fa-star"></i>
            {% endfor %}
            {% if tour['ratingAverage'] % 1 != 0 %}
              <i class="fas fa-star-half-alt"></i>
            {% endif %}
            <span>({{ tour['ratingAverage'] }}/5)</span>
          </div>
        </div>
      </header>
      <section class="tour-schedule">
        <table>
          <thead>
            <tr>
              <th>Activity</th>
              <th>Time</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for item in itinerary %}
            <tr>
              <td>{{ item['activity'] }}</td>
              <td>{{ item['timeline'] || item['duration'] }}</td>
              <td>{{ item['description'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class="thank-you txt-center">
          Thank you for choosing our tour! We hope you have a memorable and
          wonderful experience.
        </p>
      </section>

      <footer class="footer">
        <div class="footer-content">
          <p><strong>Email:</strong> travelife.booking@gmail.com</p>
          <p><strong>Phone:</strong> +84 788 519 527</p>
          <p>
            <strong>Address:</strong> 01, Street Vo Van Ngan, Ho Chi Minh City, Vietnam
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
